/* Start Flex Box */
.fx-1 {
  flex: 1;
}
.d-fx {
  display: flex;
}
.al-c {
  align-items: center;
}
.ju-c {
  justify-content: center;
}
.ju-b {
  justify-content: space-between;
}
.ju-e {
  justify-content: space-evenly;
}
.ju-s {
  justify-content: start;
}
.ju-en {
  justify-content: end;
}
.di-c {
  flex-direction: column;
}
@media (max-width:767px) {
  .ju-c-media {
    justify-content: center;
  }
  .di-c-media {
    flex-direction: column;
  }
  .al-c-media {
    align-items: center;
  }
}
/* End Flex Box */


/* Start Gird Box */
.d-gr {
  display: grid;
}
@media (max-width:767px) {
  .gtc-100x-media {
    grid-template-columns: minmax(100px,1fr);
  }
}
.gtc-200 {
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.gtc-300 {
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.gtc-400 {
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}
.gtc-400x {
  grid-template-columns: minmax(400px,1fr);
}
.gtc-450 {
  grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
}
@media (max-width:481px) {
  .gtc-200-media {
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  }
  .gtc-200x-media {
    grid-template-columns: minmax(200px,1fr);
  }
}
/* End Grid Box */

/* Start width and height */
.w-full {
  width: 100%;
}
.w-quarter {
  width: 25%;
}
.w-fit {
  width: fit-content;
}
.w-10 {
  width: 10px;
}
.w-25 {
  width: 25px;
}
.w-32 {
  width: 32px;
}
.w-40 {
  width: 40px;
}
.w-50 {
  width: 50px;
}
.w-60 {
  width: 60px;
}
.w-75 {
  width: 75px;
}
.w-80 {
  width: 80px;
}
.w-100 {
  width: 100px;
}
.w-200 {
  width: 200px;
}
.h-5 {
  height: 5px;
}
.h-10 {
  height: 10px;
}
.h-25 {
  height: 25px;
}
.h-32 {
  height: 32px;
}
.h-45 {
  height: 45px;
}
.h-65 {
  height: 65px;
}
.h-80 {
  height: 80px;
}
.h-full {
  height: 100%;
}
/* End width and height */

/* Start Gaps */
.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}
.gap-25 {
  gap: 25px;
}
@media (max-width:767px) {
  .gap-10-media {
      gap: 10px;
  }
}
/* End Gaps */


/*Start Padding*/
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-12 {
  padding: 12px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.p-30 {
  padding: 30px;
}
.btn-padding {
  padding: 10px 15px;
}
.p-10-5 {
  padding: 10px 5px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pl-30 {
  padding-left: 30px;
}
.p-ver10 {
  padding: 10px;
}
/*End Padding*/


/* Start Margins */
.m-auto {
  margin: auto;
}
.m-0 {
  margin: 0;
}
.m-15 {
  margin: 15;
}
.m-20 {
  margin: 20px;
}
.m-ver10 {
  margin: 10px 0;
}
.m-ver15 {
  margin: 15px 0;
}
.m-ver20 {
  margin: 20px 0;
}
.m-ver25 {
  margin: 25px 0;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.ml-10 {
  margin-left: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-35 {
  margin-top: 35px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.m-20-auto {
  margin: 20px auto;
}
@media (max-width:767px) {
  .m-15-media {
      margin: 15px;
  }
  .m-25-media {
      margin: 25px;
  }
}
/* End Margins */


/* Start border-radies / border-color a / border */
.br-r0 {
  border: 0;
}
.br-r5 {
  border-radius: 5px;
}
.br-r10 {
  border-radius: 10px;
}
.br-r15 {
  border-radius: 15px;
}
.br-r50p {
  border-radius: 50%;
}
.br-black {
  border: 1px solid black;
}
.br-transparent {
  border: 1px solid transparent;
}
/* End border-radies */


/* Start Colors */
.c-w {
  color: white;
}
.c-b {
  color: black;
}
.sec-green {
  color: #74C69D;
}
/* .primary-green {
  color: #52B788;
} */
.txt-c {
  color: #777;
}
.bg-w {
  background-color: white;
}
.bg-items {
  background-color: #eee;
}
.bg-primary-green {
  background-color: #52B788;
}
.bg-sec-green {
  background-color: #74C69D;
}
.nyanza {
  background-color: #D8F3DC;
}
.celadon {
  background-color: #B7E4C7;
}
.mint {
  background-color: #74C69D;
}
/* End Colors */


/* Start Postisions */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
/* End Postisions */

/* Start Overflow */
.overflow-hidden {
  overflow: hidden;
}
.overflow-x {
  overflow-x: auto;
}
/* End Overflow */

/* Start txt postion */
.txt-center {
  text-align: center;
}
@media (max-width:767px) {
  .txt-center-media {
    text-align: center;
  }
}
.txt-start {
  text-align: start;
}
/* End txt postion*/

/* Start z-index */
.z-idx-2 {
  z-index: 2;
}
/* End z-index */

/* Start Font-size & Font-weight*/
.font-15 {
  font-size: 15px;
}
.font-18 {
  font-size: 18px;
}
.font-25 {
  font-size: 25px;
}
.font-700w {
  font-weight: 700;
}
.font-bold {
  font-weight: bold;
}
/* End Font-size */

/* Start Display */
.display-inline-fx {
  display: inline-flex;
}
.display-block {
  display: block;
}
.display-inline {
  display: inline;
}
@media (max-width:767px) {
  .display-n-media {
    display: none;
  }
}
@media (max-width:400px) {
  .display-n-media400 {
      display: none;
  }
}
/* End Display NONE */